{% extends "base.html" %}
{% load static %}
{% block content %}

<div align="center">
    <section class="hero container has-text-centered">
      <div class="columns hero-body">
          <div class="box has-text-left">
                  <div class="column is-10 is-offset-0">
              <h1 class="title is-1 has-text-black">
                标注说明
              </h1>
            </div>
        <form action="">
          <table>
            <tr><td><div style="overflow: auto; width : 1200px; height : 500px;">
            {% for s in secret %}
                <p>{{ s }}</p>
            {% endfor %}
            </div></td></tr>
          </table>

        </form>
           </div>
      </div>
    </section>
    <button class="button is-primary"><a href="{% url 'projects' %}">我已明白标注说明，开始标注</a></button>
</div>

{% endblock %}