{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>标注说明</title>
    <!-- ================= Favicon ================== -->

    <!-- Styles -->
	<link href="{% static 'css/lib/scrollable/scrollable.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontAwesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/mmc-chat.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/nixon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lobipanel/css/lobipanel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<style>
		a {
		color:white;
		}
	</style>
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <li>
                        <a  href="/index/"><i class="ti-home"></i>首页</a>
                    </li>
                    <li class="active"><a href="/example1/"><i class="ti-layout-grid2-alt"></i>查看标注说明</a></li>
                      
                    <li><a href="/tagging/"><i class="ti-tag"></i>标注主页面</a></li>
{#                    <li><a href="/permission/"><i class="ti-pencil"></i> 准入条件标注</a></li>#}
                    <li><a href="/check/"><i class="ti-eye"></i>查看已标注文本</a></li>

                    <li><a href="/logout/"><i class="ti-close"></i>登出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->
    <div class="header">
        <div class="pull-left">
            <div class="logo">
                <a href="/index/">
                    <img id="logoImg" src="{% static 'logo/logo.png'%}"  alt="Nixon" />
                </a>
            </div>
        </div>
    </div>
    
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>标注说明</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# row -->
                <div class="main-content">
				
					<div class="row">
                        <div class="col-lg-12">
                            <div class="card alert nestable-cart">
                                <div class="card-header">
                                    <h2 style="font-weight:bold">标注说明</h2>
									<h4 style="font-weight:bold">请认真阅读下述说明并下载标注规范文件仔细查看！ </h4> 
                                </div>
                                <div class="card-body" >
                                    <div class="example box" data-options='{"direction": "vertical", "contentSelector": ">", "containerSelector": ">"}' style="height:1000px">
                                        <div >
                                            <p style="font-size:16px"> &emsp;&emsp;接下来您将看到一篇完整的政策文件文本。您需要标注或填写出以下三个内容：每句所对应的句子类别、句子的实体识别、每篇文件的准入条件中可以提取出的“对象-变量-关系-域”四元组。具体说明如下：

                                                <br/>&emsp;&emsp;每句话中包含的信息都有其对应的类别，信息的类别一共包含35类，分别是
                                                <span style = "color:red" >1:无关句子、2:政策名称、3:政策文号、4:发布地区、5:制定部门、6:执行部门、7:发布时间、8:执行期限、9:政策目标、10:执行方式、11:准入条件、12:申请程序-申请时间、13:申请程序-管理原则、
                                                    14:申请程序-申请限制、15:申请程序-无法确认、16:审核程序-审核部门、17:审核程序-审核内容、18:审核程序-无法确认、19:政策内容-人才培养、20:政策内容-资金支持、21:政策内容-技术支持、22:政策内容-公共服务、
                                                    23:政策内容-法规管制、24:政策内容-税收优惠、25:政策内容-金融支持、26:政策内容-政府采购、27:政策内容-对外承包、28:政策内容-公私合作、29:政策内容-无法确定、30:兑现方式-管制型-监督管理、31:兑现方式-管制型-绩效评价、
                                                    32:兑现方式-管制型-无法确定、33:兑现方式-市场型、34:兑现方式-自愿型、35:兑现方式-无法确定</span>。
                                                <br/><br/><span style = "color:red" >（一）每句所对应的句子类别</span>


                                                <br/>&emsp;&emsp;在这35类信息中，<span style = "color:red" >9:政策目标~35:兑现方式-无法确定</span>这27类需要做句子级别的标注，
                                                请在标注页面每句话下一行的第一个下拉框“请选择类别“中选择对应的句子类别。如果句子中不包含这27类信息，请选择<span style = "color:red" >1:无关句子</span>。例如，“加强专项资金的使用管理，提高财政资金使用绩效，调动地方政府和企业发展服务业的积极性，
                                                引导多渠道资金对服务业的投入，促进我市服务业加快发展。”这句话的句子类别是“政策目标”。

                                                <br/><br/><span style = "color:red" >（二）句子的实体识别</span>
                                                <br/>&emsp;&emsp;<span style = "color:red" >实体识别</span>是指识别出句子中重要的实体词组，即包含<span style = "color:red" >2:政策名称、3:政策文号、4:发布地区、5:制定部门、6:执行部门、7:发布时间、8:执行期限</span>这7类信息的词组，
                                                识别的方法是对每句话的每个字打上相应的BEO标签（B：实体开始，E：实体结束，O：其他文字或实体中间），BEO标签对应如下：
                                                <span style = "color:red" >0：O，1：B-政策名称，2：E-政策名称，3：B-政策文号，4：E-政策文号，5：B-发布地区，6：E-发布地区，7：B-制定部门，8：E-制定部门，9：B-执行部门，10：E-执行部门，11：B-审核部门，12：E-审核部门，13：B-发布时间，14：E-发布时间，15：B-执行期限，16：E-执行期限</span>。标注时要尽量标注出关键词，不标无关的词。

											<br/><br/><span style = "color:red" >（三）“对象-变量-关系-域”四元组</span>
                                                <br/>&emsp;&emsp;对于<span style = "color:red" >11:准入条件</span>，除了要做句子级别的分类，也需要对可以提取出的“对象-变量-关系-域”四元组进行填写。其中“对象”指准入条件适用的对象，变量指准入条件是对“对象”的什么属性提出，关系包括5类：属于、包括、大于、小于、等于，“域”指准入条件具体的限制范围，填写的“对象”、“变量”、“域”请从原文截取。例如，“参评龙头培育的企业须为注册地在衢州市、具有独立法人资格的制造业企业”这句准入条件可以提取出两个四元组：（制造业企业,注册地,属于,衢州市）和（制造业企业,公司资质,属于,具有独立法人资格）。对于出现“或”、“之一”这类逻辑关系的准入条件，只需提取出每个四元组即可，不需考虑逻辑关系，例如对“上年度产值1亿元以上或地方综合贡献排名全市前150名的制造业企业”，提取出（制造业企业,上年度产值,大于,1亿元）和（制造业企业,地方综合贡献排名,小于,150名）即可。

											<br/><br/>&emsp;&emsp;<span style = "color:red"><span style="font-size:20px">句子分类标准、各实体含义、标注案例、标注流程等内容均在标注规范文件中有所阐释，请务必点击“下载标注规范”按钮下载并仔细阅读。</span></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<button class="btn btn-primary" style="width:15%;margin:10px;float:right;"><a href="/tagging/">开始标注</a></button>
							<button style="width:15%;margin:10px;float:right;" id="before"  class="btn btn-primary">
                                <a href="{% static "files/标注规范.pdf" %}" target="_blank">下载标注规范</a> </button>
{#                            标注规范在static/file文件夹#}


                        </div>
                    </div>
                </div>   
            </div>
		</div>	
	 </div>
 </div>
 <!-- /# container-fluid -->
</div>
<!-- /# main -->
</div>
<!-- /# content wrap -->
<script src="{% static 'js/lib/jquery.min.js'%}"></script>
<!-- jquery vendor -->
<script src="{% static 'js/lib/jquery.nanoscroller.min.js'%}"></script>
<!-- nano scroller -->
<script src="{% static 'js/lib/sidebar.js'%}"></script>
<!-- sidebar -->
<script src="{% static 'js/lib/bootstrap.min.js'%}"></script>
<!-- bootstrap -->
<script src="{% static 'js/lib/mmc-common.js'%}"></script>
<script src="{% static 'js/lib/mmc-chat.js'%}"></script>
<script src="{% static 'js/lib/scrollable/holder.js'%}"></script><!-- scripit init-->
<script src="{% static 'js/lib/scrollable/jquery-asScrollbar.js'%}"></script><!-- scripit init-->
<script src="{% static 'js/lib/scrollable/jquery-asScrollable.min.js'%}"></script><!-- scripit init-->
<script src="{% static 'js/lib/scrollable/scrollable.init.js'%}"></script><!-- scripit init-->
<script src="{% static 'js/scripts.js'%}"></script>
<!-- scripit init-->
<script>
    $(document).ready(function() {
        $('#lobipanel-custom-control').lobiPanel({
            reload: false,
            close: false,
            editTitle: false
        });
    });
</script>
</body>

</html>